* {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
}

.homeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c {
    display: flex;
    justify-content: center;
}

.cc {
    /* display: flex; */
    /* gap: 2rem; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.hc {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 1px white groove;
    margin: 0.4rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.hc:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #646cff;
}

.hc a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.87);
}

.hc a:hover {
    color: #646cff;
}

.hc p {
    margin: 0;
}
