* {
    margin: 0;
    padding: 0;
}

/* idk why this isn't centering everything. */
#root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

#cart-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    gap: 1rem;
    width: 100%;
}

.cartCard {
    display: flex;
    gap: 4rem;
    align-items: center;
    border: 1px white groove;
    height: 240px;
    padding-right: 4rem;
    width: 440px;
}
.cLeft {
    display: flex;
}

.cRight {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.cLeft img {
    height: 200px;
}

.cRight input {
    width: 60px;
    text-align: center;
}

.cRight img {
    height: 18px;
    filter: invert(1);
}

.cArrows {
    display: flex;
    gap: .6rem;
}

.cRight button {
    height: 40px;
    font-size: 0.8rem;
}
