* {
    margin: 0;
    padding: 0;
}

/* idk why this isn't centering everything. */
#root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

#cart-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    gap: 1rem;
    width: 100%;
    padding-bottom: 2rem;
}

.cardcenter {
    display: flex;
    gap: 1rem;
}

.crhs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px white groove;
    width: 400px;
    height: 200px;
    border-radius: 12px;
}

.crt,
.crm,
.crb {
    display: flex;
    width: 100%;
    align-items: center;
}

.crt h1,
.crm h1 {
    font-size: 2rem;
    margin: 0 auto 0 1rem;
    font-weight: 300;
}

.crb h1 {
    font-size: 2rem;
    margin: 0 auto 0 1rem;
    font-weight: 800;
}

.crb h2 {
    font-weight: 800;
    margin: 0 1rem 0 auto;
}

.crt h2,
.crm h2 {
    margin: 0 1rem 0 auto;
    font-weight: 300;
}

.clhs {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    gap: 1rem;
}

.cartCard {
    display: flex;
    gap: 4rem;
    align-items: center;
    border: 1px white groove;
    height: 240px;
    padding-right: 4rem;
    width: 440px;
}
.cLeft {
    display: flex;
}

.cRight {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.cLeft img {
    height: 200px;
}

.cRight input {
    width: 60px;
    text-align: center;
}

.cRight img {
    height: 18px;
    filter: invert(1);
}

.cArrows {
    display: flex;
    gap: 0.6rem;
}

.cRight button {
    height: 40px;
    font-size: 0.8rem;
}
