/* idk why this isn't centering everything. */
#root{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
}
.cartCard{
    display: flex;
    gap: 4rem;
    place-items: center;
    border: 1px white groove;
    height: 500px;
    padding-right: 4rem;
}
.cLeft{
    display: flex;
}

.cRight{
    display: flex;
    flex-direction: column;
}

.cLeft img{
    height: 200px;
}

.cRight img{
    height: 40px;
}

.arrows{
    display: flex;
    gap: 1rem;
}

