html,
body {
    height: 100%;
    margin: 0;
}

#root {
    width: 100%;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
}

.navContainer {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    background-color: #757575;
    align-items: center;
}

a{
    color: white;
}

.navContainer img {
    width: 2rem;
    height: auto;
filter: invert(100%);
}

.navLeft {
}

.navMiddle {
    display: flex;
    gap: 4rem;
}

.navRight {
}
