* {
    margin: 0;
    padding: 0;
}

.previewCardContainerh h2 {
    font-size: 1rem;
}

.previewCardContainerh h1 {
    font-size: 1.4rem;
    margin: 0;
}

.previewCardContainerh p {
    font-size: 1.2rem;
}

.previewImageh img {
    height: 100px;
    width: 100px;
    padding: 0;
    object-fit: contain;
    margin-top: 2rem;
    margin-bottom: -1.4rem;
}
.previewCardContainerh {
    display: flex;
    flex-direction: column;
    border: 1px white groove;
    margin: 0.4rem;
    height: 200px;
    width: 160px;
    justify-content: center;
}

.cardDivh {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.previewImageh {
    margin-right: auto;
    margin-left: auto;
}

.previewTitleh {
    margin: 2rem 1.2rem 0 1.2rem;
}

.previewRatingh {
    display: flex;
    margin: 0 1.2rem 0 1.2rem;
}

.previewRatingh p:nth-of-type(2) {
    color: yellow;
}

.previewPriceh {
    margin: 0 1.2rem 2rem 1.2rem;
}
