* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    
}

.ppfull {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;

}

.fullCard {
    display: flex;
    gap: 10rem;
    place-items: center;
    margin-top: 2rem;
}

.ppLeft {
    display: flex;
}

.ppLeft img {
    height: 400px;
}

.ppLC {
    display: flex;
    align-items: center;
}

.ppli {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
}

.ppi {
    border: 1px white groove;
    width: 140px;
    height: 140px;
    overflow: hidden;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: .8rem;
    
}

.ppi img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
    draggable: false;
}

.pplmainImage {
    margin-left: 4rem;
}

.ppRight {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px white groove;
    padding: 2rem;
}

.ppRight img {
    height: 40px;
}

.pptbr {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4rem;
}

.ppt h1 {
    font-size: 2rem;
}

.ppbr {
    display: flex;
    gap: 1rem;
}

.ppbrr {
    display: flex;
}

.ppbrr p:nth-of-type(2) {
    color: yellow;
}

.ppsp {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.ppbuy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.ppstock {
    display: flex;
}

.arrows {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
