#root {
    width: 100%;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
}

.shopContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerDiv{
    width: 100%;
}

.productsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
