* {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
}

.homeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.left {
    border: 1px red groove;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left h1 {
    font-size: 1.4rem;
}

.right {
    border: 1px blue groove;
}

.previewProductsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
