.cardContainer {
    display: flex;
    gap: 4rem;
    width: 800px;
    border: 1px white groove;
    margin: 1rem;
    height: 400px;
    padding-right: 2rem;
}

.cardLeft {
    display: flex;
}

.cardRight {
    display: flex;
    flex-direction: column;
    padding-right: 1.4rem;
}

.cardTop {
    display: flex;
    align-items: center;
    margin-left: 4rem;
}

.cardMiddle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardTop img {
    width: 6rem;
    height: auto;
}

.cardMiddle h1 {
    margin: .4rem 0rem;
    font-size: 2.4rem;
}

.cardMiddle h2 {
    margin: 1rem 0 0 0;
}

.cardMiddle p {
    margin: 1rem 0rem;
}


.cardBottom {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

button {
    margin: .6rem 0rem 1rem 0;
    width: 10rem;
    height: 4rem;
}

.rating {
    display: flex;
    margin: 0rem 0rem;
    font-size: 1.2rem;
}

.rating p:nth-of-type(2){
    color: yellow;
}

.rating p{
    margin: 0rem 0rem;
}
